# Mount the google drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)
import numpy as np
import pandas as pd

Mounted at /content/drive

# Read the raw file

In [ ]:
path = '/content/drive/Shareddrives/1:1 Clarisse/drought/train_timeseries/train_timeseries.csv'
df = pd.read_csv(path)
print('Number of samples: ', len(df))

Number of samples:  19300680

# View the dataframe

In [ ]:
df.head()

,fips,date,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,...,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,1001,2000-01-01,0.22,100.51,9.65,14.74,13.51,13.51,20.96,11.46,...,14.65,2.20,2.94,1.49,1.46,4.85,6.04,3.23,2.81,NaN
1,1001,2000-01-02,0.20,100.55,10.42,16.69,14.71,14.71,22.80,12.61,...,16.60,2.52,3.43,1.83,1.60,5.33,6.13,3.72,2.41,NaN
2,1001,2000-01-03,3.65,100.15,11.76,18.49,16.52,16.52,22.73,15.32,...,18.41,4.03,5.33,2.66,2.67,7.53,9.52,5.87,3.66,NaN
3,1001,2000-01-04,15.95,100.29,6.42,11.40,6.09,6.10,18.09,2.16,...,11.31,3.84,5.67,2.08,3.59,6.73,9.31,3.74,5.58,1.0
4,1001,2000-01-05,0.00,101.15,2.95,3.86,-3.29,-3.20,10.82,-2.66,...,2.65,1.60,2.50,0.52,1.98,2.94,4.85,0.65,4.19,NaN

# Drop the NA values

In [ ]:
df_noNa = df.dropna(how='any')

# Find the max and min values in the score columns

In [ ]:
print(df_noNa["score"].max()) #finds max
print(df_noNa["score"].min()) #finds min

5.0
0.0

# Convert the score value to drought levels specified by https://droughtmonitor.unl.edu/

In [ ]:
df_noNa["score"] = pd.cut(x = df_noNa["score"], bins = [0, 1, 2, 3, 4, 5], labels = ['D0', 'D1', 'D2', 'D3', 'D4'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

# View the number of unique values in the label column

# Subsample the number of samples in each category to 56935, which is what the category with lowest samples (D4) has.

In [ ]:
sample_per_category = 56935
balanced_df_noNa = pd.DataFrame()
for category in list(df_noNa['score'].unique()):
    subset_data = df_noNa[df_noNa['score']==category]
    if (len(subset_data)>sample_per_category):
        subset_data = subset_data.sample(n=sample_per_category, replace=False)
    balanced_df_noNa = pd.concat([balanced_df_noNa, subset_data], ignore_index=True)
balanced_df_noNa.to_csv('/content/drive/Shareddrives/1:1 Clarisse/balanced_Drought_Data_56935.csv', index= False)